<div style="font-size: 10px; font-weight:500; color:#8A8A8A; padding-top: 4px; text-align: center; width: 100%; font-family: 'Space Grotesk';">
  <div style="margin-bottom:29px;">
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="96"
        height="8"
        viewBox="0 0 96 8"
        fill="none"
      >
        <path
          d="M2.37486 0.109009L0 7.65484H1.28401L1.8183 5.91027H4.75158L5.28552 7.65484H6.5692L4.20906 0.155158L4.19456 0.109009H2.37486ZM3.24645 1.25493H3.32274L4.40548 4.79705H2.16407L3.24645 1.25493Z"
          fill="#302E2C"
        />
        <path
          d="M12.3223 5.08101C12.3223 5.4837 12.2691 5.80059 12.1649 6.02333C12.0639 6.23888 11.8835 6.39807 11.6285 6.49651C11.3653 6.59843 10.9825 6.65037 10.4911 6.65037C9.99976 6.65037 9.617 6.59843 9.35415 6.49651C9.09883 6.39807 8.91853 6.23888 8.81743 6.02333C8.71319 5.80059 8.65996 5.4837 8.65996 5.08101V0.108887H7.43774V5.08101C7.43774 6.03469 7.69538 6.72888 8.20347 7.14386C8.70727 7.55513 9.47717 7.76371 10.4911 7.76371C11.5051 7.76371 12.275 7.55513 12.779 7.14362C13.2869 6.72887 13.5445 6.03469 13.5445 5.08101V0.108887H12.3223V5.08101Z"
          fill="#302E2C"
        />
        <path
          d="M14.3616 1.22224H16.6404V7.6545H17.8626V1.22224H20.1412V0.109009H14.3616V1.22224Z"
          fill="#302E2C"
        />
        <path
          d="M24.3591 6.65036C23.5954 6.65036 22.9879 6.42947 22.5526 5.99385C22.1168 5.55823 21.8956 4.84758 21.8956 3.88184C21.8956 2.91599 22.1168 2.20545 22.5526 1.76983C22.9879 1.33398 23.5954 1.1131 24.3591 1.1131C25.1149 1.1131 25.7212 1.33421 26.1606 1.76983C26.5997 2.20603 26.8227 2.91657 26.8227 3.88184C26.8227 4.847 26.5997 5.55765 26.1606 5.9935C25.7212 6.42912 25.1149 6.65036 24.3591 6.65036ZM26.3233 0.505293H26.3231C25.77 0.169853 25.1091 -0.00012207 24.3591 -0.00012207C23.6092 -0.00012207 22.9483 0.169853 22.395 0.505293C21.8415 0.841661 21.4115 1.30894 21.1166 1.89506C20.8226 2.47956 20.6733 3.14812 20.6733 3.88184C20.6733 4.61534 20.8226 5.28413 21.1166 5.86863C21.4115 6.45498 21.8418 6.9226 22.395 7.25804C22.948 7.59348 23.6086 7.76358 24.3591 7.76358C25.1097 7.76358 25.7702 7.59348 26.3231 7.25804C26.8759 6.92283 27.3062 6.45521 27.6016 5.86839C27.8957 5.2839 28.0447 4.61534 28.0447 3.88184C28.0447 3.14835 27.8957 2.47979 27.6016 1.89506C27.3064 1.30871 26.8761 0.841313 26.3233 0.505293Z"
          fill="#302E2C"
        />
        <path
          d="M33.0545 6.11029C32.9813 6.26322 32.8629 6.37024 32.6922 6.43691C32.5156 6.50613 32.2616 6.54138 31.9365 6.54138H30.3781V4.22032H31.9365C32.261 4.22032 32.5151 4.25592 32.6922 4.32491C32.862 4.39158 32.9801 4.50521 33.0535 4.67183C33.1296 4.84389 33.1681 5.09921 33.1681 5.43024C33.1681 5.72429 33.1299 5.95283 33.0545 6.11029ZM32.7348 2.89201C32.5924 3.03451 32.3236 3.1071 31.9365 3.1071H30.3781V1.22211H31.9365C32.3175 1.22211 32.585 1.29006 32.7316 1.42305C32.8767 1.555 32.9501 1.78794 32.9501 2.11573C32.9501 2.48816 32.8773 2.74962 32.7348 2.89201ZM32.7986 3.66051V3.60057C33.71 3.45193 34.1724 2.9232 34.1724 2.02842C34.1724 1.69889 34.0924 1.38572 33.9353 1.09759C33.7776 0.807947 33.5265 0.568047 33.1892 0.384152C32.8535 0.201417 32.4323 0.108887 31.9365 0.108887H29.1562V7.65472H31.9365C32.7794 7.65472 33.4064 7.45031 33.7993 7.04634C34.1914 6.64249 34.3903 6.12814 34.3903 5.5172C34.3903 5.00367 34.2687 4.57987 34.0284 4.25649C33.7934 3.941 33.3796 3.74064 32.7986 3.66051Z"
          fill="#302E2C"
        />
        <path
          d="M37.126 0.109009H35.9041V7.6545H37.126V0.109009Z"
          fill="#302E2C"
        />
        <path
          d="M42.2163 6.65036C41.4525 6.65036 40.8451 6.42947 40.4098 5.99385C39.9738 5.55823 39.7527 4.84758 39.7527 3.88184C39.7527 2.91599 39.9738 2.20545 40.4098 1.76983C40.8451 1.33398 41.4525 1.1131 42.2163 1.1131C42.9721 1.1131 43.5784 1.33421 44.0178 1.76983C44.4569 2.20603 44.6799 2.91657 44.6799 3.88184C44.6799 4.847 44.4569 5.55765 44.0178 5.9935C43.5784 6.42912 42.9721 6.65036 42.2163 6.65036ZM44.1805 0.505293H44.1802C43.6271 0.169853 42.9661 -0.00012207 42.2163 -0.00012207C41.4663 -0.00012207 40.8054 0.169853 40.252 0.505293C39.6987 0.841661 39.2687 1.30894 38.9737 1.89506C38.6797 2.47956 38.5305 3.14812 38.5305 3.88184C38.5305 4.61534 38.6797 5.28413 38.9737 5.86863C39.2687 6.45498 39.6989 6.9226 40.252 7.25804C40.8052 7.59348 41.4658 7.76358 42.2163 7.76358C42.9667 7.76358 43.6274 7.59348 44.1802 7.25804C44.733 6.92283 45.1634 6.45521 45.4588 5.86839C45.7529 5.2839 45.9018 4.61534 45.9018 3.88184C45.9018 3.14835 45.7529 2.47979 45.4588 1.89506C45.1636 1.30871 44.7333 0.841313 44.1805 0.505293Z"
          fill="#302E2C"
        />
        <path
          d="M49.4545 4.93964H52.3024C52.2371 5.42141 52.0553 5.82758 51.7616 6.14806C51.4558 6.48118 51.014 6.65012 50.4474 6.65012C49.6716 6.65012 49.098 6.43944 48.7419 6.02446C48.3836 5.6067 48.2017 4.88561 48.2017 3.88161C48.2017 3.19519 48.2758 2.64351 48.4214 2.24174C48.5643 1.84775 48.791 1.55846 49.0959 1.38222C49.4037 1.20366 49.8217 1.11322 50.3384 1.11322C50.9202 1.11322 51.3545 1.2498 51.6273 1.51915C51.9016 1.78989 52.0621 2.17972 52.1041 2.67702L52.1091 2.73754H53.3204L53.3154 2.6667C53.2558 1.86132 52.9665 1.20864 52.4551 0.726292C51.9434 0.244293 51.2311 -0.00012207 50.3384 -0.00012207C49.572 -0.00012207 48.93 0.179943 48.43 0.535094C47.931 0.890245 47.5605 1.36784 47.3279 1.95465C47.0967 2.53753 46.9795 3.1858 46.9795 3.88161C46.9795 4.57719 47.095 5.22372 47.322 5.80265C47.5511 6.38634 47.9124 6.8637 48.3963 7.22198C48.8817 7.58119 49.4984 7.76335 50.2294 7.76335C50.8377 7.76335 51.2968 7.64531 51.5944 7.41144C51.8767 7.19033 52.0953 6.92353 52.2441 6.6187H52.3112V7.65436H53.5334V3.82665H49.4545V4.93964Z"
          fill="#302E2C"
        />
        <path
          d="M56.3776 1.22224H57.6635C58.1482 1.22224 58.518 1.26861 58.7638 1.35998C59.0039 1.44903 59.1639 1.58759 59.2555 1.78354C59.3494 1.98472 59.3969 2.27992 59.3969 2.6607C59.3969 3.02721 59.3494 3.31279 59.2555 3.50979C59.165 3.70227 59.0039 3.83769 58.765 3.92315C58.5192 4.01092 58.1482 4.05556 57.6635 4.05556H56.3776V1.22224ZM58.5586 4.53199C59.0734 4.49269 59.4827 4.39842 59.7761 4.25151C60.0868 4.09649 60.3071 3.87874 60.4335 3.60417C60.5564 3.33482 60.619 2.98048 60.619 2.55171C60.619 1.78123 60.401 1.17493 59.972 0.749629C59.5442 0.324213 58.7673 0.109009 57.6635 0.109009H55.1555V7.6545H56.3776V5.1689H59.5059V7.6545H60.728V4.57907H58.5586V4.53199Z"
          fill="#302E2C"
        />
        <path
          d="M65.3219 1.25481L66.4048 4.79705H64.1635L65.2453 1.25481H65.3219ZM66.1938 0.109009H64.3746L61.9988 7.6545H63.2835L63.818 5.91027H66.7504L67.2849 7.6545H68.5684L66.2089 0.155037L66.1938 0.109009Z"
          fill="#302E2C"
        />
        <path
          d="M73.2623 4.1802C73.0165 4.2783 72.6466 4.32816 72.1643 4.32816H70.7682V1.22223H72.1643C72.6547 1.22223 73.0281 1.27035 73.2739 1.36496C73.5128 1.45691 73.6716 1.60381 73.7597 1.8138C73.8502 2.03062 73.8965 2.35192 73.8965 2.76968C73.8965 3.18026 73.849 3.49981 73.7551 3.71954C73.6623 3.93346 73.5012 4.08443 73.2623 4.1802ZM73.9592 0.42624C73.5302 0.215561 72.9261 0.109009 72.1643 0.109009H69.5461V7.6545H70.7682V5.44115H72.1643C72.9261 5.44115 73.5313 5.3325 73.9592 5.11811C74.394 4.90164 74.6989 4.59321 74.8682 4.20246C75.034 3.81832 75.1187 3.33598 75.1187 2.76968C75.1187 2.20362 75.034 1.72162 74.8682 1.33679C74.6989 0.946158 74.3928 0.639702 73.9592 0.42624Z"
          fill="#302E2C"
        />
        <path
          d="M81.0159 3.43407H77.4517V0.109009H76.2307V7.6545H77.4517V4.54741H81.0159V7.6545H82.238V0.109009H81.0159V3.43407Z"
          fill="#302E2C"
        />
        <path
          d="M83.6768 7.6545H88.5837V6.54116H84.8989V4.32943H87.7106V3.21609H84.8989V1.22223H88.5837V0.109009H83.6768V7.6545Z"
          fill="#302E2C"
        />
        <path
          d="M91.0258 1.22224H92.3117C92.7952 1.22224 93.1651 1.26861 93.412 1.35998C93.6509 1.44903 93.8121 1.58759 93.9037 1.78354C93.9964 1.98472 94.044 2.27992 94.044 2.6607C94.044 3.02721 93.9964 3.31279 93.9037 3.50979C93.8121 3.70227 93.6521 3.83769 93.412 3.92315C93.1662 4.01092 92.7964 4.05556 92.3117 4.05556H91.0258V1.22224ZM93.2068 4.57907V4.53199C93.7216 4.49269 94.1309 4.39842 94.4243 4.25151C94.7339 4.09649 94.9553 3.87874 95.0805 3.60417C95.2046 3.33482 95.2672 2.98048 95.2672 2.55171C95.2672 1.78123 95.0492 1.17493 94.6202 0.749629C94.1912 0.324213 93.4144 0.109009 92.3117 0.109009H89.8037V7.6545H91.0258V5.1689H94.153V7.6545H95.3762V4.57907H93.2068Z"
          fill="#302E2C"
        />
      </svg>
    </span>
  </div>
  <span class="pageNumber"></span>
</div>
