<!DOCTYPE html>
<html>
<head>
<style>
    @font-face {
        font-family: 'TimesNow';
        src: url('TimesNow-SemiLight.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'TimesNow';
        src: url('TimesNow-SemiBold.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'SpaceGrotesk';
        src: url('SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    }

    @media print {
        .page {
            height: 100vh;
        }
    }

    body {
        margin: 0;
        background-color: #F9F7F4;
        color: #686560;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact !important;
        text-align: center;
        font-family: 'TimesNow', serif;
    }
    .front-cover div {
        margin-left: auto;
        margin-right: auto;
    }
    .gray {
        color: #8A8A8A;
        font-family: 'SpaceGrotesk', sans-serif;
    }
    .header {
        padding-top: 81px;
    }
    .container {
        font-size: 40px;
        font-weight: 500;
        margin-top: 160px;
    }
    .footer {
        bottom: 133px;
        width: 100%;
        position: absolute;
    }
    .container > div {
        display: flex;
        justify-content: center;
    }
    .title {
        width: 324px;
        margin-bottom: 50px;
    }
    .author {
        width: 250px;
        margin-top: 49px;
    }
    .header > .gray {
        font-size: 10px;
        font-weight: 500;
        margin-top: 29px;
        letter-spacing: 5.8px;
    }
    .container > .gray {
        font-size: 15px;
        font-weight: 400;
    }
    .footer > .gray {
        margin-top: 25px;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 5.8px;
    }
</style>
</head>
<body>
    <div class="page front-cover">
        <div class="header">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="145" height="12" viewBox="0 0 145 12" fill="none">
                    <path d="M3.59828 0.165283L0 11.5984H1.94548L2.755 8.95507H7.19936L8.00837 11.5984H9.95333L6.37735 0.235206L6.35539 0.165283H3.59828ZM4.91886 1.90153H5.03446L6.67496 7.26838H3.27889L4.91886 1.90153Z" fill="#302E2C"/>
                    <path d="M18.6702 7.69868C18.6702 8.30881 18.5895 8.78895 18.4316 9.12643C18.2786 9.45302 18.0052 9.69423 17.6189 9.84338C17.2201 9.9978 16.6402 10.0765 15.8957 10.0765C15.1511 10.0765 14.5712 9.9978 14.1729 9.84338C13.7861 9.69423 13.5129 9.45302 13.3597 9.12643C13.2018 8.78895 13.1211 8.30881 13.1211 7.69868V0.165161H11.2693V7.69868C11.2693 9.14364 11.6596 10.1954 12.4295 10.8242C13.1928 11.4473 14.3593 11.7634 15.8957 11.7634C17.432 11.7634 18.5985 11.4473 19.3622 10.8238C20.1316 10.1954 20.522 9.14364 20.522 7.69868V0.165161H18.6702V7.69868Z" fill="#302E2C"/>
                    <path d="M21.7598 1.85199H25.2126V11.5978H27.0644V1.85199H30.5167V0.165283H21.7598V1.85199Z" fill="#302E2C"/>
                    <path d="M36.9078 10.0765C35.7506 10.0765 34.8302 9.7418 34.1707 9.08177C33.5103 8.42174 33.1751 7.345 33.1751 5.88176C33.1751 4.41835 33.5103 3.34178 34.1707 2.68175C34.8302 2.02137 35.7506 1.6867 36.9078 1.6867C38.0528 1.6867 38.9715 2.02172 39.6373 2.68175C40.3026 3.34266 40.6404 4.41923 40.6404 5.88176C40.6404 7.34412 40.3026 8.42086 39.6373 9.08124C38.9715 9.74127 38.0528 10.0765 36.9078 10.0765ZM39.8838 0.76578H39.8834C39.0454 0.257538 38.0441 0 36.9078 0C35.7715 0 34.7701 0.257538 33.9317 0.76578C33.0932 1.27543 32.4416 1.98342 31.9949 2.87148C31.5493 3.75709 31.3232 4.77006 31.3232 5.88176C31.3232 6.99312 31.5493 8.00644 31.9949 8.89204C32.4416 9.78046 33.0936 10.489 33.9317 10.9972C34.7697 11.5055 35.7706 11.7632 36.9078 11.7632C38.0449 11.7632 39.0458 11.5055 39.8834 10.9972C40.7211 10.4893 41.373 9.78081 41.8207 8.89169C42.2662 8.00609 42.4919 6.99312 42.4919 5.88176C42.4919 4.77041 42.2662 3.75744 41.8207 2.87148C41.3734 1.98307 40.7214 1.2749 39.8838 0.76578Z" fill="#302E2C"/>
                    <path d="M50.0826 9.25819C49.9718 9.48991 49.7924 9.65206 49.5338 9.75307C49.2663 9.85795 48.8813 9.91136 48.3887 9.91136H46.0276V6.3946H48.3887C48.8805 6.3946 49.2654 6.44854 49.5338 6.55307C49.791 6.65408 49.97 6.82625 50.0812 7.0787C50.1965 7.33941 50.2548 7.72625 50.2548 8.22782C50.2548 8.67334 50.197 9.01962 50.0826 9.25819ZM49.5983 4.38201C49.3826 4.59792 48.9753 4.7079 48.3887 4.7079H46.0276V1.85187H48.3887C48.966 1.85187 49.3713 1.95481 49.5935 2.15632C49.8133 2.35624 49.9245 2.70918 49.9245 3.20583C49.9245 3.77011 49.8142 4.16627 49.5983 4.38201ZM49.6949 5.54641V5.45559C51.0759 5.23037 51.7765 4.42927 51.7765 3.07354C51.7765 2.57426 51.6553 2.09976 51.4173 1.66319C51.1784 1.22434 50.7978 0.860858 50.2868 0.58223C49.7782 0.305358 49.1399 0.165161 48.3887 0.165161H44.1763V11.5982H48.3887C49.6659 11.5982 50.6158 11.2885 51.2112 10.6765C51.8054 10.0646 52.1066 9.28524 52.1066 8.35958C52.1066 7.58149 51.9224 6.93938 51.5583 6.44941C51.2022 5.97139 50.5752 5.66781 49.6949 5.54641Z" fill="#302E2C"/>
                    <path d="M56.2516 0.165283H54.4001V11.5978H56.2516V0.165283Z" fill="#302E2C"/>
                    <path d="M63.9639 10.0765C62.8067 10.0765 61.8863 9.7418 61.2268 9.08177C60.5663 8.42174 60.2312 7.345 60.2312 5.88176C60.2312 4.41835 60.5663 3.34178 61.2268 2.68175C61.8863 2.02137 62.8067 1.6867 63.9639 1.6867C65.109 1.6867 66.0276 2.02172 66.6935 2.68175C67.3588 3.34266 67.6966 4.41923 67.6966 5.88176C67.6966 7.34412 67.3588 8.42086 66.6935 9.08124C66.0276 9.74127 65.109 10.0765 63.9639 10.0765ZM66.9399 0.76578H66.9396C66.1014 0.257538 65.1 0 63.9639 0C62.8276 0 61.8262 0.257538 60.9877 0.76578C60.1494 1.27543 59.4978 1.98342 59.0508 2.87148C58.6055 3.75709 58.3794 4.77006 58.3794 5.88176C58.3794 6.99312 58.6055 8.00644 59.0508 8.89204C59.4978 9.78046 60.1497 10.489 60.9877 10.9972C61.8259 11.5055 62.8267 11.7632 63.9639 11.7632C65.1009 11.7632 66.1019 11.5055 66.9396 10.9972C67.777 10.4893 68.4292 9.78081 68.8768 8.89169C69.3223 8.00609 69.5481 6.99312 69.5481 5.88176C69.5481 4.77041 69.3223 3.75744 68.8768 2.87148C68.4295 1.98307 67.7776 1.2749 66.9399 0.76578Z" fill="#302E2C"/>
                    <path d="M74.9312 7.48449H79.2461C79.1472 8.21444 78.8717 8.82985 78.4267 9.31543C77.9635 9.82016 77.2941 10.0761 76.4356 10.0761C75.2601 10.0761 74.391 9.75691 73.8515 9.12815C73.3086 8.49518 73.033 7.40262 73.033 5.88141C73.033 4.84138 73.1453 4.0055 73.3659 3.39677C73.5823 2.79981 73.9258 2.36149 74.3878 2.09446C74.8543 1.82391 75.4876 1.68688 76.2704 1.68688C77.152 1.68688 77.8099 1.89382 78.2233 2.30193C78.6389 2.71214 78.8821 3.30278 78.9457 4.05627L78.9532 4.14797H80.7886L80.781 4.04064C80.6907 2.82037 80.2524 1.83146 79.4775 1.10063C78.7022 0.370325 77.623 0 76.2704 0C75.1092 0 74.1364 0.272825 73.3789 0.810933C72.6228 1.34904 72.0615 2.07266 71.7091 2.96178C71.3588 3.84492 71.1812 4.82715 71.1812 5.88141C71.1812 6.93531 71.3561 7.9149 71.7001 8.79208C72.0473 9.67645 72.5947 10.3997 73.3278 10.9426C74.0634 11.4868 74.9976 11.7628 76.1053 11.7628C77.0269 11.7628 77.7226 11.584 78.1734 11.2296C78.6012 10.8946 78.9323 10.4904 79.1579 10.0285H79.2594V11.5977H81.1113V5.79814H74.9312V7.48449Z" fill="#302E2C"/>
                    <path d="M85.4205 1.85199H87.3688C88.1031 1.85199 88.6636 1.92226 89.036 2.0607C89.3997 2.19562 89.6421 2.40556 89.7809 2.70246C89.9232 3.00726 89.9952 3.45454 89.9952 4.03148C89.9952 4.5868 89.9232 5.0195 89.7809 5.31798C89.6438 5.60961 89.3997 5.8148 89.0378 5.94428C88.6653 6.07727 88.1031 6.1449 87.3688 6.1449H85.4205V1.85199ZM88.725 6.86677C89.5051 6.80722 90.1252 6.66439 90.5697 6.4418C91.0405 6.20692 91.3743 5.87699 91.5658 5.46098C91.752 5.05287 91.8469 4.516 91.8469 3.86634C91.8469 2.69894 91.5166 1.78031 90.8666 1.13592C90.2183 0.49135 89.0413 0.165283 87.3688 0.165283H83.5688V11.5978H85.4205V7.83178H90.1604V11.5978H92.012V6.9381H88.725V6.86677Z" fill="#302E2C"/>
                    <path d="M98.9727 1.90135L100.614 7.26837H97.2177L98.8568 1.90135H98.9727ZM100.294 0.165283H97.5374L93.9377 11.5978H95.8843L96.6942 8.95507H101.137L101.947 11.5978H103.892L100.317 0.235023L100.294 0.165283Z" fill="#302E2C"/>
                    <path d="M111.003 6.33376C110.631 6.48239 110.071 6.55793 109.34 6.55793H107.224V1.85198H109.34C110.083 1.85198 110.648 1.92489 111.021 2.06824C111.383 2.20756 111.624 2.43014 111.757 2.7483C111.894 3.07682 111.964 3.56363 111.964 4.19661C111.964 4.81869 111.892 5.30287 111.75 5.63578C111.609 5.95991 111.365 6.18865 111.003 6.33376ZM112.059 0.645937C111.409 0.326726 110.494 0.165283 109.34 0.165283H105.373V11.5978H107.224V8.24428H109.34C110.494 8.24428 111.411 8.07967 112.059 7.75483C112.718 7.42684 113.18 6.95952 113.437 6.36748C113.688 5.78545 113.816 5.05463 113.816 4.19661C113.816 3.33894 113.688 2.60864 113.437 2.02556C113.18 1.43369 112.716 0.969364 112.059 0.645937Z" fill="#302E2C"/>
                    <path d="M122.751 5.20326H117.351V0.165283H115.501V11.5978H117.351V6.89014H122.751V11.5978H124.603V0.165283H122.751V5.20326Z" fill="#302E2C"/>
                    <path d="M126.783 11.5978H134.218V9.91096H128.635V6.55986H132.895V4.87298H128.635V1.85198H134.218V0.165283H126.783V11.5978Z" fill="#302E2C"/>
                    <path d="M137.918 1.85199H139.866C140.599 1.85199 141.159 1.92226 141.533 2.0607C141.895 2.19562 142.139 2.40556 142.278 2.70246C142.419 3.00726 142.491 3.45454 142.491 4.03148C142.491 4.5868 142.419 5.0195 142.278 5.31798C142.139 5.60961 141.897 5.8148 141.533 5.94428C141.161 6.07727 140.6 6.1449 139.866 6.1449H137.918V1.85199ZM141.222 6.9381V6.86677C142.002 6.80722 142.623 6.66439 143.067 6.4418C143.536 6.20692 143.872 5.87699 144.061 5.46098C144.249 5.05287 144.344 4.516 144.344 3.86634C144.344 2.69894 144.014 1.78031 143.364 1.13592C142.714 0.49135 141.537 0.165283 139.866 0.165283H136.066V11.5978H137.918V7.83178H142.656V11.5978H144.509V6.9381H141.222Z" fill="#302E2C"/>
                </svg>
            </div>
            <div class="gray">PRESENTS</div>
        </div>
        <div class="container">
            <div class="title">
                {{title}}
            </div>
            <div class="gray">from the stories of</div>
            <div class="author">
                {{author}}
            </div>
        </div>
        <div class="footer">
            <div>
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.16383 15.3341C6.5149 15.1921 7.67698 14.3498 8.33751 13.146C9.3814 12.6454 10.1098 11.5125 10.1098 10.1951C10.1098 8.41402 8.77855 6.9702 7.13634 6.9702C7.06209 6.9702 6.98849 6.97315 6.91561 6.97895C6.28632 6.5644 5.54764 6.32568 4.75755 6.32568C3.58267 6.32568 2.52147 6.85353 1.76457 7.70249C0.7485 7.99619 0 9.00107 0 10.1956C0 10.9387 0.289693 11.6084 0.753283 12.0792C0.856487 12.4723 1.00759 12.8436 1.19933 13.1851C1.19286 13.2626 1.18956 13.3411 1.18956 13.4205C1.18956 14.8453 2.25458 16.0004 3.56836 16.0004C4.18226 16.0004 4.74185 15.7482 5.16383 15.3341Z" fill="#8A8A8A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1208 5.86078C13.9912 5.32763 14.5804 4.3026 14.5804 3.12563C14.5804 1.39939 13.313 0 11.7496 0C11.5105 0 11.2783 0.0327288 11.0566 0.0943501C10.8933 0.0331765 10.7184 0 10.5364 0C9.64305 0 8.91884 0.799653 8.91884 1.78607C8.91884 1.987 8.94889 2.18017 9.00429 2.36041C8.94848 2.60528 8.91884 2.86164 8.91884 3.12563C8.91884 4.30327 9.50867 5.3288 10.3799 5.86169C10.6662 6.36408 11.1728 6.69796 11.7501 6.69796C12.3277 6.69796 12.8346 6.36368 13.1208 5.86078Z" fill="#8A8A8A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3528 12.5596C18.0304 12.1451 18.4892 11.3475 18.4892 10.4315C18.4892 9.0889 17.5035 8.00049 16.2875 8.00049C15.0716 8.00049 14.0858 9.0889 14.0858 10.4315C14.0858 11.3471 14.5442 12.1445 15.2214 12.5591C15.444 12.95 15.8382 13.2098 16.2872 13.2098C16.7361 13.2098 17.1301 12.9502 17.3528 12.5596Z" fill="#8A8A8A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3105 5.6522C19.7217 5.40044 20 4.9163 20 4.3604C20 3.54516 19.4015 2.88428 18.6631 2.88428C17.9248 2.88428 17.3263 3.54516 17.3263 4.3604C17.3263 4.91634 17.6046 5.4005 18.0158 5.65225C18.151 5.88977 18.3904 6.04765 18.6632 6.04765C18.936 6.04765 19.1754 5.88975 19.3105 5.6522Z" fill="#8A8A8A"/>
                </svg>
            </div>
            <div class="gray">
                CREATED {{date}}
            </div>
        </div>
    </div>
</body>
</html>
